<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAPMkhcptsNkK01FBKaQOYswQAAAACAAAAAAAQZgAAAAEAACAAAABp6TuY/EDFqZZaQRo0v066y7gMzJcYmbifcira+CyrWAAAAAAOgAAAAAIAACAAAAAN3vlPzaVbjkWBS4BeVREKUpjM3GLLxshR94x5N0AkwTAAAABrRAakaRdsup8WgIse4VVxDLKgz7JA4Sg1aDndGQ7Kk9zAm1JlgfLr/NlrvRd3ft1AAAAAQv4uG6i7Bqau0hSAV7sS14Qv4GiaiFSNkam1KCaVf1GVDVfP8emTiFJccDLGmldVs0WhHrVdKK2kv2dBuV2s4Q==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>